<% @gists.each do |gist| %>
  <tr>
    <td><%= link_to gist.question.body[0, 25], admin_question_path(gist.question) %></td>
    <td><%= link_to gist.url, gist.url %></td>
    <td><%= current_user.email %></td>
  </tr>
<% end %>
