<div class="footer container-fluid text-center text-md-left">
	<div class="container-fluid">
    <div class="row">
      <div class="footer-col-rt col-md-6">
        <p>Current year: <%= current_year %></p>
        <p>Author Name: Anastasia Shalyshkina</p>
        <p> Link to GitHub (helper): <%= github_url('Anastasia Sh.', 'https://github.com/AShalysh/testguru') %></p>
      </div>
      <div class="footer-col-lf col-md-6">
        <p> Project Name: <a href="https://github.com/AShalysh/testguru">TestGuru.</a></p>
        <p> Project is managing the relationship between Test, User, Author, Test Categories, Questions and Answers. </p>
        <p><a href="http://thinknetica.com/">A Study Project in the best Online School Thinknetica.</a></p>
      </div>
    </div>
  </div>
</div>

