<tr>
  <td> <%= answer.body %></td>
  <td> <%= answer.correct %></td>
  <%#= link_to 'Show', admin_answers_path(answer) %>
  <td> <%= link_to 'Edit', edit_admin_question_answer_path(@question,answer) %>
  <%= link_to 'Delete',
              admin_question_answer_path(@question,answer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
</tr>
