<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('.show'), admin_question_path(question) %></td>
  <td><%= link_to t('.edit'), edit_admin_question_path(question) %> </td>
  <%= render partial: 'shared/delete_confirmation',
    locals: {
      delete_path: admin_question_path(question)
    }
  %>
</tr>
